.container_big-card {
  /* border: solid white 2px; */
  margin-left: 20px;
  margin-right: 20px;
  height: 600px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.big-card_photo > img {
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 520px;

}

.big-card_title > h1{
  margin-top: 15px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}

.big-card_description > p{
  margin-top: 15px;
  margin-left: 5px;
  font-size: 16px;
  /* font-weight: normal; */
  color: gray;
}

.big-card_description > p >a{

  /* font-weight: normal; */
  color: gray;
}
