<div class="container_small-card">
  <div class="container_small-card-content">
    <div class="small-card_photo">
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        alt=""
        height=""
        srcset=""
      >
    </div>
    <div class="small-card_title">
      <h1><a href="https://angular.dev/#learn-more">Saiu a Nova Versão do Angular</a></h1>
    </div>
  </div>
  <div class="container_small-card-footer">
    <hr>
  </div>
</div>
