.container_small-card {
  /* border: 1px solid white; */
  /* display: flex; */
  /* flex-direction: row; */
  width: 800px;
  height: 200px;
  margin-bottom: 20px;
  /* margin-top: 10px; */
}

.container_small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card_photo > img{
width: 250px;
min-width: 250px;
height: 180px;
margin-right: 20px;
}

.small-card_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_small-card-footer {
  margin-top: 15px;
}
