<div class="container_menu-bar">
  <nav class="menu-bar_nav">
    <a href="#">Home</a>
    <a href="https://github.com/AtahualpaF">GitHub</a>
    <a href="https://www.linkedin.com/in/atahualpa-fagundes-de-souza-assis-6a4a73113/">LinkedIn</a>
    <a href="https://1drv.ms/b/c/ce16a44f3ccadb6d/EW3byjxPpBYggM6mHQAAAAABOsf1csG1eJz2qD-sF1aE3g?e=ZobK7i">Curriculo</a>
  </nav>

  <!-- <ul class="menu-bar_list">
    <li><a href="#">Home</a></li>
    <li><a href="#">GitHub</a></li>
    <li><a href="#">LinkedIn</a></li>
    <li><a href="#">Curriculo</a></li>
  </ul> -->

</div>
