.container_menu-bar {
  align-items: center;
  font-size: 30px;
}

.menu-bar_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
}

.menu-bar_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.menu-bar_list li {
  cursor: pointer;
}
